{% extends 'base.html' %}
{% load static %}

{% block body%}

<div class="container border py-4 my-4 w-75">
    <div class="badge bg-secondary text-wrap" style="width: 6rem;">
        <h5>Video</h5>
    </div>
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" required>
        </div>

        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <textarea class="form-control" name="desc" id="desc" style="height: 200px;" required></textarea>
        </div>

        <div class="form-group files">
            <label>Video</label>
            <input type="file" name="fileName" class="form-control" id="filename" accept="video/*" required>
        </div>

        <div class="mb-3">
            <label for="thumb" class="form-label">Select Thumbnail</label>
            <input type="file" name="thumbnail_img" onchange="validateFileType()" class="form-control" id="thumb" accept="image/png, image/gif, image/jpeg, image/jpg">
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Select Category</label>
            <select class="form-control" name="category">
                {% for category in categories %}
                <option>{{category.title}}</option>
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-success"><i class="bi bi-save"></i></button>
    </form>
</div>
{% endblock %}